body{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(500px, auto);
}

.reg{
    padding: 2%;
}

.login{
    padding: 2%;
    background-image: linear-gradient(to bottom right, fuchsia, purple);
    color: white;
}
 
button, .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid fuchsia;
}

button:hover, .btn:hover {
    background-color: black;
    color: white;
}

*:focus {
    outline: none;
}
  
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number], input[type=date]{
    box-sizing: border-box;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
}
  
input[type="text"]:focus, input[type="password"]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus{
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}
  
form{
    text-align: center;
}

.msg{
    font-size: larger;
    color: rgb(39, 190, 39);
}

.bckg{
    background-image: url("sky.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mid{
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
    padding: 10px;
    background-color: black;
    color: white;
}

.mid1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.error{
    color:red;
}

.prof{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("prof.png");
    background-repeat: no-repeat;
    background-size: cover;
}